@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300;400&display=swap');
* {
    font-family: 'Prompt', sans-serif;
    box-sizing: border-box;
}

.header {
    background: #2f54eb;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
    display: inline;
    margin: 20px;
    font-size: 18px;
}
.program {
    margin: 20px 0px 20px 20px;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
}
.form-box {
    width: 800px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #f5f5f5;
    border-radius: 8px;
    /* border-radius: 10px; */
    padding: 20px;
}

input[type=number] {
    width: 400px;
    padding: 12px 20px;
    margin: 8px 0;
    margin-left: 25%;
    margin-right: 25%;
    font-size: 16px;
    box-sizing: border-box;
    border-radius: 8px;
    border-color: #c9c9c9;
}

button[type=submit] {
    width: 400px;
    padding: 12px 20px;
    margin: 8px 0;
    margin-left: 25%;
    margin-right: 25%;
    border-color: #2f54eb;
    border-radius: 8px;
    font-size: 16px;
    color: #fff;
    background: #2f54eb;
    cursor: pointer;
}
.p-txt {
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    color: #2f54eb;
    margin: 15px;
}
.answer_section {
    font-weight: bold;
    margin: 0px;
    font-size: 25px;
    color: #ff0000;
    width: 400px;
    height: 110px;
    padding: 12px 20px;
    margin: 8px 0;
    margin-left: 25%;
    margin-right: 25%;
    box-sizing: border-box;
    border-radius: 8px;
    background: #fff;
    border-style: solid;
    border-width: 2px;
    border-color: #c0c0c0;

}
.errorMessage {
    color: red;
    margin: 0;
}
.container {
    width: 1200px;
    position: absolute;
    top: 115%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    border-radius: 8px;
}
#answer_section {
    text-align: center;
}
#text {
    color: #2f54eb;
    font-size: 18px;
}